body {
    background: rgb(255, 255, 255);
    padding: 40px 40px 40px 40px;
    font-family: 'Montserrat', sans-serif;

}

.wrapper {
    background-color: rgb(246, 246, 250);
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
}

.main-content {
    padding: 88px 80px 40px 80px;
    box-sizing: border-box;

}

/* стиль для сейтбару */

.sidebar {
    background: #e0ebfe;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 370px;
}


.sidebar-content {
    padding: 40px 40px 40px;
}

.contakcts-title {
    color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}

.contects-type {
    color: #4c80df;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 8px;
}

.contakcts-link {
    color: #2979FF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;

}

.contakcts-element {
    margin-bottom: 4px;
    margin-top: 0;
}

.contavts-contener {
    margin-bottom: 40px;

}

.skills-conteintr {
    margin-bottom: 40px;
    padding-left: 32px;
}

.skills-title {
    color: #161d2a;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 28px;
}

.skills-list {
    padding-left: 32px;
}

.skall-list-item {
    color: #161D2A;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px
}

.skills-conteintr-1 {
    margin-bottom: 40px;
    padding-left: 32px;
}

.skills-title-1 {
    color: #161d2a;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 24px;
}

.skills-list-1 {
    padding-left: 40px;
}

.skall-list-item-1 {
    color: #161D2A;
    font-size: 16px;
    font-weight: 400;
    line-height:
        24px
}

.my-profession {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-bottom: 8px;

}

.my-name {
    color: #000;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 12px;
    margin-top: 0;
}

.my-descr {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.my-info {
    margin-bottom: 40px;
}

.pojects-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 8px;
}

.prject-item {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.projects-list {
    padding-left: 16px;

}

.projects-item-link {
    color: #005FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.projects-item-tech {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.projects-contener {
    margin-bottom: 40px;
}

.work-experince-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 8px;
}

.work-experince-company {
    margin-bottom: 12px;
    color: #000;
    font-weight: 700;
    line-height: 20px;
}

.company {
    color: #6D9BF5;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.data {
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}

.country {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

.job-description {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.education-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
}

.education-school {
    color: #6D9BF5;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
}

.education {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 4px;
}

.education-data {
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;

}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

.description {
    padding-left: 16px;
}